.button_add
{
    display: flex;
    justify-content: center;
}
.container
{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

.newContainer
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}